// variables
@import "../Variables.scss";

.Presupuesto {
    // modificacion
    position: fixed;
    border-radius: 10px;
    // size
    top: 10;
    left: 80px;
    width: 92%;
    height: 94%;
    // color
    background-color: $color2;
}

.PresupuestoTitulo {
    text-align: center;
    padding-top: 20px;
    h4 {
        color: $color3;
    }
}

.PresupuestoCreacion {
    display: flex;
    justify-content: space-between;
}

// materiales
.PresupuestoCreacionMateriales {
    // size
    width: 50%;
    padding-top: 20px;
    text-align: center;
    p {
        // color
        color: $color3;
    }
}

// agregar material
.AgregarMaterial {
    display: flex;
    // size
    margin-left: 15%;

    div {
        margin-right: 10px;
    }
}
// form
.AddMaterial {
    input {
        // modificacion
        border-radius: 5px;
        // size
        width: 250px;
        // color
        color: $color3;
    }
    
}
.AddPrecio {
    input {
        // modificacion
        border-radius: 5px;
        // size
        width: 150px;
        // color
        color: $color3;
    }
}
// button
.ButtonAdd {
    // modificacion
    border: 0.1px solid $color3;
    border-radius: 10px;
    // size
    width: 40px;
    height: 40px;
    // color
    background-color: $color4;
}
.AddIcon {
    // size
    padding-bottom: 5px;
    // color
    color: $color1;
}
.ButtonAdd:hover .AddIcon {
    color: $color2;
    transition: 0.7s;
}
// tiempo
.PresupuestoCreacionTiempo {
    // size
    width: 50%;
    padding-top: 20px;
    text-align: center;
    p {
        // color
        color: $color3;
    }
}

// text
.TextPresupuestoVacio {
    padding-top: 24%;

    p {
        // color
        color: $color3;
    }
}