// variables
@import "../../Variables.scss";

.nav__bar--modificacion {
    position: fixed;
    top: -4px;
    border-radius: 5px;
    z-index: 5;
}
.nav__bar--size {
    width: 100%;
    height: 50px;
    padding-left: 1%;
    padding-right: 1%;
}
.nav__bar--color {
    background-color: $color1;
}