

// paleta de colores
$color1: #1F202C;
$color2: #FFFFFF;
$color3: #4A657A;
$color4: #C4EEF2;
$color5: #FF1616;
$color6: #7ED957;

// fuentes de texto
$font4: 'Bebas Neue', regular 400;
$font5: 'Homenaje', sans-serif;

// propiedades
$mayus: uppercase;